body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav .brand-logo {
	padding-left: 15px;
}

h6 {
	margin-bottom: 20px;
	margin-top: 20px;
}

main {
    flex: 1 0 auto;
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.container {
	width: 95%;
}

.card{
	margin-top: 22.8px;
}

.card-content li {
	margin: 5px;
}

.main.card-content i {
	font-size: 40px;
	padding-bottom: 15px;
}

.forecast {
	justify-content: space-around;
}

.row .col.m2 {
	width: 20%;
}
